<ion-view style="" title="Nome do Médico">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <ul>
                <li>
                    <strong>Especialidade:</strong>Acupuntura
                </li>
                <li>
                    <strong>Endereço:</strong>Av. Conselheiro Nébias, 518, Santos, Sp, Brasil
                </li>
                <li>
                    <strong>Telefone:</strong>(13) 3202-4300 / 3321-5267
                </li>
                <li>
                    <strong>CRM:</strong>99522
                </li>
            </ul>
        </div>
        <div style="text-align: center; margin-top:10px;">
            <img src="img/tiYALBkQciWQjBvgTj5e_mapa.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>