<ion-view style="">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon {{favoriteClass}}" ng-click="doFavorite()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
        <div class="list card">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-person"></i>
                {{medico.nome}}
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-medkit"></i>
                {{medico.especialidade}}
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-android-pin"></i>
                {{medico.endereco}}
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-android-call"></i>
                {{medico.telefone}}
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-clipboard"></i>
                <strong>CRM:</strong> {{medico.crm}}
            </div>
        </div>
        <!-- <button class="button icon-left ion-navigate button-block button-verde" ng-click="showMap()">
            Como chegar
        </button> -->
        <button class="button icon-left ion-ios-calendar-outline button-block button-verde" ng-click="calendar()">
            Agendar Consulta
        </button>
    </ion-content>
</ion-view>