<ion-view style="" title="{{medico.nome}}">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <ul>
                <li>
                    <strong>Especialidade:</strong> {{medico.especialidade}}
                </li>
                <li>
                    <strong>Endereço:</strong> {{medico.endereco}}
                </li>
                <li>
                    <strong>Telefone:</strong> {{medico.telefone}}
                </li>
                <li>
                    <strong>CRM:</strong> {{medico.crm}}
                </li>
            </ul>
        </div>
        <div style="text-align: center; margin-top:10px;">
            <img src="img/tiYALBkQciWQjBvgTj5e_mapa.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>